<% provide(:title, "Contact") %>
<h1>Contact</h1>
<h2>
 Contact out team of experts at JNMR2
</h2>
<div>
  <p><%= link_to "Roman",   roman_path %></p>
  <p><%= link_to "Matthieu",   "#" %></p>
  <p><%= link_to "Ricky",   "#" %></p>
  <p><%= link_to "Nathan",   "#" %></p>
  <p><%= link_to "Johnathan",   "#" %></p>
</div>
