<% provide(:title, "Wallet") %>
<div class="row">
  <div class="col-md-4">

    <small>
      <h3>Balance: $<%=
        if current_user.balance.nil?
          render html: "0.00"
        else
          current_user.balance
        end %> </h3>
        <%= form_tag(deposit_path, :method => "get") do %>
            <%= label_tag(:q, "Amount:") %>
            <%= number_field_tag :q %>
            <%= submit_tag "Deposit", :class => "btn btn-lg btn-primary" %>

        <% end %>

    </small>

</div>
<div class="col-md-4 .col-md-offset-4">
  <%= link_to "View bitcoin balance", bitcoin_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Transfer money to another user", transfer_path, class: "btn btn-lg btn-primary" %>
</div>





</div>
<!--
<div>
  <%= form_for(:current_user, url: deposit_path) do |f| %>

    <%= f.label :deposit_amount %>
    <%= f.text_field :deposit_amount  %>

    <%= f.submit "Deposit amount", class: "btn btn-lg btn-primary" %>

  <%end%>
</div>
-->
